/* coding:utf-8 */
/* Seções principais */

body {
	font-family: georgia, arial, verdana;
	font-size: 13px; 	
	margin: 0 10px;
	padding:0;
	vertical-align: top;
	background-color: #fff;
	background-image: url(../imgs/fundo.jpg);
	background-repeat: no-repeat;
	background-position: right 60px;
	background-attachment: fixed;
	color: #000;
}
div#principal {	
	padding:0;	
	/*width:720px; /*PROVISÓRIO!! Apenas para testar o formulário com largura 1024!!!*/
	margin: 0 280px 0 0;
}

/* fim do seções principais */

/* Seção principal */
#principal p {	
	text-indent: 25px;
	margin: 0 5px 7px 5px;	
	text-align: justify;
}
#principal h1 {
	margin: 0;
	padding:0 0 0 8px;
	text-align:left;
	font-family: verdana,arial,helvetica;
	background: #fc9;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity: 0.75;
	font-size: 150%;	
	font-weight: normal;
}
#principal h2 {
	text-align:left;
	font-size: 120%;	
	font-weight: bold;
	border-bottom:1px solid #aca;
	padding: 20px 0 0 0;
	clear:both;
	margin: 0 5px 7px 7px
}
#principal h3 {
	font-size: 110%;
	text-indent: 0px;
	padding: 15px 0 5px 10px;
	margin:0;
	font-weight: bold;
}
#principal h4 {
	text-indent: 0px;
	padding: 7px 0 0px 20px;
	margin: 0 5px 0 5px;
}
div#carregando {
	background: #fff url('../imgs/snake_transparent.gif') center left no-repeat;	
	width: 170px;
	padding: 10px 10px 10px 20px;
	text-align: center;
	border: solid 1px;
	position: absolute;
	right:50%;
	visibility:hidden;
}


/* Seção titulo_geral */
#titulo_geral {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding:10px;	
	background: #e61;	
	font-weight:bold;
	font-style:normal;
	margin: 10px 0;
	color:#fff;
	text-align:center;	
}
#titulo_geral h1, h2 {
	padding:0;
	margin:0;
	text-align:center
}
#titulo_geral h1 {	
	font-size:200%;	
	font-family: Tahoma, sans;
	text-transform: uppercase;
}
#titulo_geral h2 {
	font-size:110%;	
	font-style: italic;
	font-weight: bold;
	font-family: Georgia, Arial, serif;
}

/* Links */
a {
	font-weight: normal;
	text-decoration: none;	
}
a:link, a:visited {
	color: #00a;	
	border-bottom: solid 1px #00a
}
a:hover {
	color: #a03;	
	border-bottom: solid 1px #a03;
	border-top: solid 1px #a03;
}

/*Estilos de conteúdo interno:*/
.conteudo {
	/*filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;*/	
	padding:8px 12px;	
	margin: 0 0 10px 0;	
	background-color: #fff;
	border: dotted 1px #fc9;
	border-top: none;	
}
p.aviso {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	padding:5px 100px;
	text-indent:0;
	text-align:center;
	background: #e61;
	font-weight:bold;
	font-style:normal;
	font-size:120%;
	margin: 0 0 10px 0;
	color:#fff;
}
#principal p.erro {
	padding:5px 100px;
	text-indent:0;
	text-align:center;
	font-weight:bold;
	font-style:normal;
	font-size:120%;
	margin: 0 0 10px 0;
	color:#f00;
}

#principal p.aviso {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
	margin: 15px 0;
	text-indent:0;
	text-align:center;
	background: #eca;
	color:#fff;
}
#principal .select {
	background: #fff;
	margin: 20px 0 0 0;
	text-align: right;
	float: none;
}
a.aviso:link, a.aviso:hover {
	text-transform:uppercase;
	display:block;
	font-style:italic;
	text-decoration: underline;
}
a.aviso:visited {
	text-transform:uppercase;
	font-style:italic;
	text-decoration: none;
}
P.data { 
	margin-bottom: 0px; 
	text-align: right 
}
.informe { font-size: 80%; 
	margin: 20px 0 40px 0; 
	text-align: center; 
	font-style:italic; 
	color:#f70 
}
p.leiamais { 
	margin-bottom: 0; 
	font-size: 80%;
	text-indent: 0;
	padding: 0;
	text-align: center; 
}
P.autor { 
	text-indent: 0; 
	margin-bottom: 0.08cm; 
	font-size: 70%; 
	font-style: italic; 
	font-weight: normal; 
	text-align: left 
}
p.item {
	text-indent:0;
	margin:0 0 3px 40px;
	padding:0;
	font: 85% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif
}
div.poesia {
	margin: 30px 0 30px 0;	
}
div.poesia p {
	margin: 0px;	
	text-align: center;
	color: #330;
	font: 115% "Garamond", serif;
	font-style: italic;
}
.subitem {
	margin: 0 0 3px 10px;
	padding-left: 15px;
	font-style: italic;
	background: transparent url(../imgs/subitem.gif) top left no-repeat;
	text-indent: 0;
	text-align: justify	
}
ul, ol {
	margin: 0 5px 8px 55px;
	padding:0;
	text-align: justify
}
/* fim dos estilos de conteúdo*/

/* Seção lateral: */
div#lateral {
	float:right;
	width: 270px;
	margin: 0;
	padding: 0;
	border-width: 0;
}
#lateral h1 {
	margin: 0 0 10px 0;
	text-align:left;
	font-family: verdana,arial,helvetica;
	font-size: 150%;
	font-weight: normal;
}
#lateral p.formulario {
	text-align: left;
	margin: 0 0 6px 10px;
}
#lateral p.botao {
	text-align: center;
}
#lateral p {
	text-align: left;
	margin: 0;
	padding-left: 12px;
}
select {
	font-size: 80%;
}

/* Rodapé */

#rodape {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
	background: transparent url('../imgs/logos.jpg') bottom center no-repeat;
	height: 210px;
	margin: 10px 0px;
	clear:both;
}

#rodape p {	
	font-size: 85%; 
	margin: 0; 
	padding:0;
	text-align: left;	
	text-indent:0
}

#rodape a, #rodape a:link, #rodape a:visited {
	color: #000;
	text-decoration: underline;
}
#rodape a:hover {
	color: #530;
	text-decoration: none
}

/*Fim da seção rodapé */

/* Módulo de login */
#login {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
	background: #aca;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0	
}
#login p.erro {
	color:#f00;
	font-weight: bold;
	font-size:85%;
	text-align:center;
	text-indent:0;
	padding:0;
	margin: 5px 0;
}
/* Módulo área restrita */
#area_restrita {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	background: #acc;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0	
}
#area_restrita p.botao, #area_restrita a:link, #area_restrita a:visited {
	border: none;
	text-decoration: none;
	background:transparent;
	display:block;
	text-align: left;
	color: #004;	
	padding: 0;
	margin: 5px 0;
	font-weight: normal;
	text-indent: 20px;	
}
#area_restrita p.botao_a, #area_restrita a:hover {
	text-align: left;
	color: #a03;
	font-weight: normal;
	padding: 0;
	margin: 5px 0;
	text-indent: 20px;	
	background:white;
	display:block;
	text-decoration: none
}
#area_restrita select {
	color: #000;
	font-size: 80%;
	text-decoration: none;
	font-weight:normal;
	background: #efe;
	display: normal;
}

/* Módulo estatísticas */
#estatisticas {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	background: #fe9;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0	
}
#estatisticas p {
	text-align: center;
	padding:0
}

/* Tabelas */
table {
	font: 90% Arial;
	border-width: 1px;
	border-spacing: 0;
	border-style: inset;
	border-collapse: collapse;
	margin: 0 0 5px 0;
}
table th {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	padding: 0;
	border-width: 1px;
	border-style: inset;
	-moz-border-radius: 2px;
	background-color: #eee;
	white-space: nowrap;
	height:20px
}
td.apagar {
	background:#f22;
	text-align: center;
}
td.recuperar {
	background:#292;
	text-align: center;
}
table th a {
	padding: 5px 0;
	display:block;
	font-weight:normal;
}
table th a:link, table th a:visited {
	border:none;
	color:#00f;
	text-decoration:underline;
}
table th a:hover {
	border:none;
	color:#fff;
	text-decoration:none;
	background:#393;
}
table td {
	text-align:left;
	padding: 0.05cm;
	border-width: 1px;
	border-style: inset;
	-moz-border-radius: 2px;
}
table td.total {
	font-weight: bold;
	text-align: right;
	background-color: #eee;
}
table td.total2 {
	font-weight: bold;
	background-color: #eee;
}
.tabelacabecalho {
	background-color: #ab8;
	height:auto;
	color: #FFF;
	font-weight:bold;
	padding:3px;
	border: 0;
}
.alternalinha1 {
	background-color: #ddb;
	padding: 3px;
	vertical-align: middle;
	border: 0
}
.alternalinha2 {
	background-color: #eec;
	padding: 3px;
	vertical-align: middle;
	border: 0
}
/* fim da seção Tabelas */

/* Formulários */
div.sub_bloco {
	margin:0;
	padding:0;
}
table.multiplos {
	width: 495px;
	margin:0;
	padding:0;
	border: none;
}
.multiplos td {
	text-align:left;
	padding: 0;
	border: none;
}
.outro {
	margin-left: 250px;
	vertical-align: top;
}
.select {
	background: green;
	float:left;
}
.esq {
	margin: 0 510px 0 0;
	padding: 0;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}
.dir {
	vertical-align: top;
	text-align: left;
	width: 500px;
	float:right;
	margin:0;
	padding:0;
}
.primeiralinha {
	background-color: #ded;
	margin: 0;
	padding: 5px;
	vertical-align:top
}
.linha {
	background-color: #ded;
	margin: 0;
	padding: 5px;
	vertical-align:top
}
.linha_a {
	background-color: #dfd;
	margin: 0;
	padding: 5px;
	vertical-align:top
}
form {
	margin: 0;
	padding: 0;
}
#principal .botao {
	text-align: center;
	clear:both;
}
#principal #select_mr {
	text-align: right;
	margin-bottom: 20px
}
input {
	font-size:80%;
}
input[type=submit], input[type=reset] {
	padding: 0;
	text-align: center;
	margin: 6px 0 0 0;
	font-weight:normal;
	border:solid 1px #777777;
	background-color: #efeeee;
	color: #000000;
}
input[type=submit]:hover, input[type=reset]:hover {
	font-weight:normal;
	text-decoration:none;
	background-color:#006699;
	color: #ffffff;
}
.invalido {
	background-color:#f93;
}
/* fim do Seções do formulário */

/*Estilos dos balões dos marcadores no mapa googlemaps:*/
.mensagem_balao {
	background:#090;
	width:180px;
	padding:0;
	margin:0;
	white-space:normal;
}
.mensagem_balao_corpo {
	margin:0;
	padding:0;
	font-size:70%;
	font-family:Arial;
	text-indent:0;
	text-align:center;
	white-space:normal;
}
.mensagem_balao_titulo {
	margin:0;
	padding:0;
	font-size: 80%;
	font-family:Arial;
	text-align:center;
	font-weight:bold;
	text-indent:0;
	white-space:normal;
}
.mensagem_balao_detalhes {
	margin:0;
	padding:0;
	font-size:70%;
	font-family:Arial;
	font-style:italic;
	text-indent:0;
	text-align:center;
}
/*fim dos estilos de mensagens nos balóes do google maps*/

.legenda_img {
	font-size:70%;
	font-style:italic;
	font-weight:bold;
	text-align: center;
}

.hoje  {	
	font-size: 77%;
	color: #EEEEEE;
	font-weight: normal;
}
.small {
	font-size: 77%;
	color: #ab8;
	text-decoration: none;
}
.small a:link, .small a:visited {
	color: #785;
	text-decoration: underline;
	font-weight: normal;
}
.small a:hover {
	color: #530;
	text-decoration: none;
	text-decoration: underline;
}

/*Campos dos formulários:*/

.inputbox {
	background: #eed;
	color: #000
}
.inputbox_EES {
	background: #eed;
	color: #000;
}
.inputbox_cat {
	background: #eed;
	color: #000;
}
.button {
	color: #FFF;
	font-weight:bold;
	text-align:center;
	width:auto;
	border-right: 1px solid #530;
	border-bottom: 1px solid #530;
	border-top: 1px solid #bc9;
	border-left: 1px solid #bc9;
	background-color: #ab8;
	margin:1px;
	font-size:70%;
}
.text_area {
	border : 1px solid #999;
	color: #d33;
	text-align:center;
	background: #FDF5E6;
	font-family: Courier, Helvetica, sans-serif;
	z-index: -3;
	font-size: 85%
}
.descricao {
	font: 77% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent:0;
	padding:0;
	margin: 0 0 5px 25px	
}
.descricao_titulo {
	font: 110% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent: 0;
	padding: 0;
	margin: 15px 0 0 10px;
	font-weight: bold;
}
.titulo_link {
	font: 100% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent:0;
	padding:0 0 5px 10px;
	text-align:left;
	margin:0	
}
/* fim dos campos dos formulários */


/* Insercao de contatos: */
P.contato {
	margin: 0;
	text-align: left;
	padding: 0 0 2px 20px
}
H2.contato {
	padding-top: 40px;
	margin-left: 0
}
H3.contato {
	margin-bottom: 7px;
	margin-left: 10px;
	padding: 0;
	font-style: italic;
	font-size: 110%;
	color: #000;
	font-weight: normal
}
/* FIM da insercao de contatos: */
3.contato {
	margin-bottom: 7px;
	margin-left: 10px;
	padding: 0;
	font-style: italic;
	font-size: 110%;
	color: #000;
	font-weight: normal
}
/* FIM da insercao de contatos: */
