body.mapa,html.mapa {
	height:100%;
}
/* navbar */
.bg-aer {
	background-color: green;
}
/* fim da navbar */

/* Seção principal */
#principal p {
	text-indent: 25px;
	margin: 0 5px 7px 5px;
	text-align: justify;
}
#principal h1 {
	margin: 0;
	padding:0 0 0 8px;
	text-align:left;
	font-family: verdana,arial,helvetica;
	background: #ad9;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity: 0.75;
	font-size: 150%;
	font-weight: normal;
}
#principal h2 {
	text-align:left;
	font-size: 120%;
	font-weight: bold;
	border-bottom:1px solid #aca;
	padding: 20px 0 0 0;
	clear:both;
	margin: 0 5px 7px 7px
}
#principal h3 {
	font-size: 110%;
	text-indent: 0px;
	padding: 15px 0 5px 10px;
	margin:0;
	font-weight: bold;
}
#principal h4 {
	text-indent: 0px;
	padding: 7px 0 0px 20px;
	margin: 0 5px 0 5px;
}
.carregando {
	position: relative;
	left: 0;
	top: 30px;
	background: #fff url('../imgs/loader16.gif') center center no-repeat;
	border: solid 1px #999;
	width: 100px;
	height: 30px;
	display:none;
}
.painelCarregando {
	position: absolute;
	left: 0;
	top: 200px;
	z-index:1000;
	background: #fff url('../imgs/loader16.gif') center center no-repeat;
	border: solid 1px #999;
	width: 100px;
	height: 30px;
	display:none;
}
div#carregando_mapa {
	filter:alpha(opacity=50); /* IE5.5+ */
	-moz-opacity:0.5; /* Gecko browsers including Netscape 6+ and Firefox */
	-khtml-opacity: 0.5; /* Safari 1.1-1.3 */
	opacity: 0.5; /* Netscape 7.2+, Firefox, Safari 2+, Opera 9 */
	position: absolute;
	right:0;
	top:0;
	background: #fff url('../imgs/loader64.gif') 60% 40% no-repeat;
	width: 100%;
	height: 100%;
	z-index: 100000;
}
#legendaMapa {
	position:relative;
	bottom:100px;
	z-index: 1000;
	width: 100%;
	padding:0;
	background-color: #dbb;
	border: solid 1px #000;
	display:none;
/*	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;*/
}
#legendaMapa p {
	font-size: 7pt;
	text-indent:0;
	margin: 0 3px 3px 3px;
	padding: 0;
	text-align: left;
}
#legendaMapa h4 {
	font-size: 9pt;
	background: transparent;
	margin: 0 0 3px 0;
	padding:0 3px;
	text-align:center;
	border-bottom: solid 1px #b88;
}
#legendaMapaSels{
	margin:0;
	padding:0;
}
span.peq {
	font-size: 90%;
	font-weight:normal;
}
#legendaMapa h5 {
	font-size: 7pt;
	font-family: Verdana, sans-serif;
	background-color: #a66;
	color: #fff;
	margin: 0;
	padding:0 3px 3px 3px;
	text-align:right;
	font-style:italic;
	font-weight:normal;
}
#principal .info_carregando_dados {
	background: #fff url('../imgs/loadera32.gif') center center no-repeat;
	margin:0;
	padding:0;
	width: 50px;
	height: 50px;
}


/* Seção titulo_geral */
#titulo_geral {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding:10px;
	background: #6a1;
	font-weight:bold;
	font-style:normal;
	margin: 10px 0;
	color:#fff;
	text-align:center;
}
#titulo_geral h1, h2 {
	padding:0;
	margin:0;
	text-align:center
}
#titulo_geral h1 {
	font-size:200%;
	font-family: Tahoma, sans;
	text-transform: uppercase;
}
#titulo_geral h2 {
	font-size:110%;
	font-style: italic;
	font-weight: bold;
	font-family: Georgia, Arial, serif;
}

/* Links */
a {
}
a:link, a:visited {
}
a:hover {
}
a.Branco:link, a.Branco:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fff;
	border:none;
	text-decoration:none;
}
a.Branco:hover {
	text-decoration: none;
	color: #600;
	border:none;
}

#divisoria_iniciativa {
	padding: 7px 0 0 5px;
	background: transparent url('../imgs/icones/Fiends-aint-comin-fast-enough-20x20.png') top left no-repeat;
	height:48px;
}
#divisoria_instituicao {
	padding: 7px 0 0 5px;
	background: transparent url('../imgs/icones/agt-login-20x20.png') top left no-repeat;
	height:48px;
}

/*Estilos de conteúdo interno:*/
.conteudo {
	/*filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;*/
	padding:8px 12px;
	margin: 0 0 10px 0;
	background-color: #fff;
	border: dotted 1px #ad9;
	border-top: none;
}
p.aviso {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	padding:5px 100px;
	text-indent:0;
	text-align:center;
	background: #681;
	font-weight:bold;
	font-style:normal;
	font-size:120%;
	margin: 0 0 10px 0;
	color:#fff;
}
#principal p.erro {
	padding:5px 100px;
	text-indent:0;
	text-align:center;
	font-weight:bold;
	font-style:normal;
	font-size:120%;
	margin: 0 0 10px 0;
	color:#f00;
}

#principal p.aviso {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
	margin: 15px 0;
	text-indent:0;
	text-align:center;
	background: #9a5;
	color:#fff;
}
#principal .select {
	background: #fff;
	margin: 20px 0 0 0;
	text-align: right;
	float: none;
}
.select_multiplo, .select_multiplo_esq {
	background: #fff;
	text-align: left;
	width:100%;
	height: 130px;
}
.divselect_multiplo {
	margin: 0;
	width: 46%;
	float:right;
}
.select_multiplo_esq {
	margin: 0;
	height: 150px;
	float: left;
	width: 46%;
}
.botao_multiplo {
	float:left;
	text-align: center;
	margin: 5px 0;
	padding: 35px 0;
	width:5%;
	height: 80px;
}
#selecao_rapida{
	width: 50%;
}
a.aviso:link, a.aviso:hover {
	text-transform:uppercase;
	display:block;
	font-style:italic;
	text-decoration: underline;
}
a.aviso:visited {
	text-transform:uppercase;
	font-style:italic;
	text-decoration: none;
}
P.data {
	margin-bottom: 0px;
	text-align: right
}
.informe { font-size: 80%;
	margin: 20px 0 40px 0;
	text-align: center;
	font-style:italic;
	color:#f70
}
p.leiamais {
	margin-bottom: 0;
	font-size: 80%;
	text-indent: 0;
	padding: 0;
	text-align: center;
}
P.autor {
	text-indent: 0;
	margin-bottom: 0.08cm;
	font-size: 70%;
	font-style: italic;
	font-weight: normal;
	text-align: left
}
p.item {
	text-indent:0;
	margin:0 0 3px 40px;
	padding:0;
	font: 85% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif
}
div.poesia {
	margin: 30px 0 30px 0;
}
div.poesia p {
	margin: 0px;
	text-align: center;
	color: #330;
	font: 115% "Garamond", serif;
	font-style: italic;
}
.subitem {
	margin: 0 0 3px 10px;
	padding-left: 15px;
	font-style: italic;
	background: transparent url(../imgs/subitem.gif) top left no-repeat;
	text-indent: 0;
	text-align: justify
}
ul, ol {
}
/* fim dos estilos de conteúdo*/

/* Seção lateral: */
div#lateral {
	float:right;
	width: 270px;
	margin: 0;
	padding: 0;
	border-width: 0;
}
#lateral h1 {
	margin: 0 0 10px 0;
	text-align:left;
	font-family: verdana,arial,helvetica;
	font-size: 150%;
	font-weight: normal;
}
#lateral p.formulario {
	text-align: left;
	margin: 0 0 6px 10px;
}
#lateral p.botao {
	text-align: center;
}
#lateral p {
	text-align: left;
	margin: 0;
	padding-left: 12px;
}
/*select {
	font-size: 90%;
}*/


/* Painel de buscas do mapa */
/*.painelOpcoesTituloAtivo, .painelOpcoesTitulo, .painelOpcoes, .painelOpcoesPopup {
	cursor:pointer;
	background-color:#efe;
	margin:0;
	padding: 10px 5px 10px 10px;
	border: solid 1px #8d8;
}
.painelOpcoesTitulo {
	background-color:#bdb;
}
.painelOpcoesPopup {
	display: none;
	position: absolute;
	top: 150px;
	left: 220px;
	z-index: 100;
	padding: 0 0 5px 0;
	width:350px;
}
.painelOpcoes {
	padding: 0 10px;
	border:none;
	height:200px;
	overflow:auto;
}
.painelOpcoesSelecionadas {
	font-size: 7pt;
	color: #000;
	padding:0 20px 0 0;
	margin:0;
	text-align:left;
	text-indent:0;
}
.painelOpcoesMapaLista {
	font-size: 7pt;
	text-indent:0;
	color: #000;
	padding:0 20px 0 0;
	margin:0;
	text-align:left;
}
.painelOpcoesMapaLista table, .painelOpcoesMapaLista table td {
	border:none;
	vertical-align:middle;
}
.painelOpcoesMapaLista table {
	width: 100px;
}
/*
.painelOpcoesSelecionadas a {
	border:none;
}
*/
#filtros p {
	padding: 0;
	text-align:left;
	margin: 0;
	text-indent:0;
	font-weight: bold;
}
#filtros h2 {
	border:none;
	padding:5px;
	margin: 0 0 5px 0;
	text-align:center;
	background-color: #bdb;
}
/*#painelPreResultados {
	background-color:#dbb;
	display: none;
	margin: 10px;
	padding: 5px 0 5px 0;
}*/

/* Rodapé */

#rodape {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
/*	background: transparent url('../imgs/logos07.jpg') bottom center no-repeat;*/
	height: 210px;
	margin: 10px 0px;
	clear:both;
}

#rodape p {
	font-size: 85%;
	margin: 0;
	padding:0;
	text-align: left;
	text-indent:0
}

#rodape a, #rodape a:link, #rodape a:visited {
	color: #000;
	text-decoration: underline;
}
#rodape a:hover {
	color: #530;
	text-decoration: none
}

/*Fim da seção rodapé */

/* Módulo de login */
/*#login {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
	background: #aca;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0
}
#login p.erro {
	color:#f00;
	font-weight: bold;
	font-size:85%;
	text-align:center;
	text-indent:0;
	padding:0;
	margin: 5px 0;
}*/
/* Módulo área restrita */
#area_restrita {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	background: #acc;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0
}
#area_restrita p.botao, #area_restrita a:link, #area_restrita a:visited {
	border: none;
	text-decoration: none;
	background:transparent;
	display:block;
	text-align: left;
	color: #004;
	padding: 0;
	margin: 5px 0;
	font-weight: normal;
	text-indent: 20px;
}
#area_restrita p.botao_a, #area_restrita a:hover {
	text-align: left;
	color: #a03;
	font-weight: normal;
	padding: 0;
	margin: 5px 0;
	text-indent: 20px;
	background:white;
	display:block;
	text-decoration: none
}
#area_restrita select {
	color: #000;
	font-size: 80%;
	text-decoration: none;
	font-weight:normal;
	background: #efe;
	display: normal;
}

/* Módulo estatísticas */
#estatisticas {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	background: #fe9;
	padding: 3px 3px 8px 3px;
	text-align: center;
	margin: 0 0 8px 0
}
#estatisticas p {
	text-align:center;
	padding:0;
	margin:5px 10px;
}

#estatisticas p.legenda_img_stat {
	font-size:80%;
	font-style:italic;
	font-weight:bold;
}
#estatisticas img {
	width: 95%;
	border:none;
}
#estatisticas p.menu_stat {
	text-align:left;
}


/* Tabelas */
/*#mostraTabela {
	margin: 10px auto;
	padding: 0 0 0 0;
	background-color: #cfd;
	width: 90%;
}
#mostraTabela p {
	text-indent:0;
	padding: 2px 10px 2px 20px;
	margin: 0 0 2px 20px;
	background: transparent url('../../mapas/imgs/AgroredePeqVerde.png') left center no-repeat;
}
#mostraTabela h1 {
	background-color: #bbd;
	color: #000;
	font-size: 16pt;
	margin: 0;
	text-align:left;
}
#mostraTabela a.Preto {
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:italic;
	border:none;
}
#mostraTabela a.Preto:link, #mostraTabela a.Preto:visited {
	text-decoration: underline;
	color: #000000;
}
#mostraTabela a.Preto:hover {
	border:none;
	text-decoration:none;
}
*/
/*table {
	font: 90% Verdana;
	border-width: 1px;
	border-spacing: 0;
	border-style: inset;
	border-collapse: collapse;
	margin: 0 0 5px 0;
}
table th {
	text-align: center;
	font-style: italic;
	font-weight: normal;
	padding: 0;
	border-width: 1px;
	border-style: inset;
	-moz-border-radius: 2px;
	background-color: #eee;
	white-space: nowrap;
	height:20px
}*/
td.apagar {
	background:#f22;
	text-align: center;
}
td.recuperar {
	background:#292;
	text-align: center;
}
/*table th a {
	padding: 5px 0;
	display:block;
	font-weight:normal;
}
table th a:link, table th a:visited {
	border:none;
	color:#00f;
	text-decoration:underline;
}
table th a:hover {
	border:none;
	color:#fff;
	text-decoration:none;
	background:#393;
}
table td {
	text-align:left;
	padding: 0.05cm;
	border-width: 1px;
	border-style: inset;
	-moz-border-radius: 2px;
}*/
table.limpa, table.limpa td {
	text-align:left;
	padding: 0.05cm;
	border: none;
}
table td.total {
	font-weight: bold;
	text-align: right;
	background-color: #eee;
}
table td.total2 {
	font-weight: bold;
	background-color: #eee;
}
.tabelacabecalho {
	background-color: #ab8;
	height:auto;
	color: #FFF;
	font-weight:bold;
	padding:3px;
	border: 0;
}
.fareja_table {
	width:100%;
	vertical-align:top;
	border: none;
}
.fareja_table td {
	vertical-align:top;
	border: none;
}
.alternalinha1 {
	background-color: #ddb;
	padding: 3px;
	vertical-align: middle;
	border: 0;
}
.alternalinha2 {
	background-color: #eec;
	padding: 3px;
	vertical-align: middle;
	border: 0;
}
/* fim da seção Tabelas */

.divlista {
	width:60%;
	overflow:scroll;
	height:200px;
	background-color:#cfc;
	border: solid 1px #ccc;
	padding: 20px;
	margin: 20px 0;
	font-family:Verdana, sans;
}
.divlista li {
	margin: 0 0 3px 0;
}

/* Formulários */
div.sub_bloco {
	margin:0;
	padding:0;
}
table.sub_bloco {
	padding:0;
	border:none;
	width:100%;
}
table.multiplos {
	width: 95%;
	margin:0;
	padding:0;
	border: none;
}
.multiplos td {
	text-align:left;
	padding: 0;
	border: none;
}
.outro {
	margin-left: 250px;
	vertical-align: top;
}
.select {
	background: green;
	float:left;
}
.esq {
	padding: 0;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}
DIV.esq {
	margin: 0 510px 0 0;
}
TD.esq {
	padding: 5px 10px 5px 0;
	border: none;
	width:15%;
}
.dir {
	vertical-align: top;
	text-align: left;
	width: 500px;
	margin:0;
	padding:0;
}
DIV.dir {
	float:right;
}
TD.dir {
	border: none;
	width:70%;
	padding: 5px 10px 5px 0;
}
.primeiralinha {
	background-color: #ded;
	margin: 0;
	padding: 5px;
	vertical-align:top
}
.linha {
	background-color: #ded;
	margin: 0;
	padding: 5px;
	vertical-align:top
}
.linha_a {
	background-color: #dfd;
	margin: 0;
	padding: 5px;
	vertical-align:top;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}
/*form {
	margin: 0;
	padding: 0;
}*/
#principal .botao {
	text-align: center;
	clear:both;
}
#principal #select_mr {
	text-align: right;
	margin-bottom: 20px
}
/*input {
	font-size:80%;
}
input[type=submit], input[type=reset], input[type=button] {
	padding: 0;
	text-align: center;
	margin: 6px 0 0 0;
	font-weight:normal;
	border:solid 1px #777777;
	background-color: #efeeee;
	color: #000000;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
	font-weight:normal;
	padding:0;
	text-decoration:none;
	border:solid 1px #777777;
	background-color:#006699;
	color: #ffffff;
}*/
.invalido {
	background-color:#f93;
}
/* fim do Seções do formulário */

/*Estilos dos balões dos marcadores no mapa googlemaps:*/
.balaoContainerGeral {
	width:360px;
}
#principal .mensagem_balao {
	width:180px;
	padding:0;
	margin:0;
}
#principal .mensagem_balao_corpo {
	margin:0;
	padding:0;
	font-size:10pt;
	font-family:Arial;
	text-indent:0;
	text-align:left;
}
#principal .mensagem_balao_titulo {
	margin:0 0 10px 0;
	padding:3px 0;
	font-size: 10pt;
	font-family:Arial;
	text-align:center;
	background-color:#bdd;
	text-indent:0;
	font-weight:bold;
}
.mensagem_balao_detalhes {
	margin:0;
	padding:0;
	font-size:70%;
	font-family:Arial;
	font-style:italic;
	text-indent:0;
	text-align:center;
}
/*fim dos estilos de mensagens nos balóes do google maps*/

/* texto de abertura às consultas*/
/*#aberturaConsultaMapas {
	background-color: #bbd;
	border: solid 1px #99c;
}
#aberturaConsultaMapas h1 {
	font-size:18pt;
	background-color: #aaf;
	padding: 5px;
	text-align: center;
	font-weight:normal;
}
#aberturaConsultaMapas p {
	font-size:11pt;
	text-indent:0;
	text-align: center;
	font-weight:normal;
	padding: 10px;
	margin: 0;
}
*/
/* fim */
.legenda_img {
	font-size:70%;
	font-style:italic;
	font-weight:bold;
	text-align: center;
}

.hoje  {
	font-size: 77%;
	color: #EEEEEE;
	font-weight: normal;
}
.small {
	font-size: 77%;
	color: #ab8;
	text-decoration: none;
}
.small a:link, .small a:visited {
	color: #785;
	text-decoration: underline;
	font-weight: normal;
}
.small a:hover {
	color: #530;
	text-decoration: none;
	text-decoration: underline;
}

/*Campos dos formulários:*/

.inputbox {
	background: #eed;
	color: #000
}
.inputbox_EES {
	background: #eed;
	color: #000;
}
.inputbox_cat {
	background: #eed;
	color: #000;
}
.button {
	color: #FFF;
	font-weight:bold;
	text-align:center;
	width:auto;
	border-right: 1px solid #530;
	border-bottom: 1px solid #530;
	border-top: 1px solid #bc9;
	border-left: 1px solid #bc9;
	background-color: #ab8;
	margin:1px;
	font-size:70%;
}
.text_area {
	border : 1px solid #999;
	color: #d33;
	text-align:center;
	background: #FDF5E6;
	font-family: Courier, Helvetica, sans-serif;
	z-index: -3;
	font-size: 85%
}
.descricao {
	font: 77% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent:0;
	padding:0;
	margin: 0 0 5px 25px
}
.descricao_titulo {
	font: 110% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent: 0;
	padding: 0;
	margin: 15px 0 0 10px;
	font-weight: bold;
}
.titulo_link {
	font: 100% "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	text-indent:0;
	padding:0 0 5px 10px;
	text-align:left;
	margin:0
}
.arvore, .arvore_fechada{
	background-color: #4a4;
	font-weight:bold;
	font-size: 100%;
	cursor:pointer;
	padding:1px;
}
.arvore_fechada {
	background-color: #a44;
}
.ajuda {
	font-weight:normal;
	font-style:italic;
	color:#090;
	text-decoration:underline;
	cursor:pointer;
}
/* fim dos campos dos formulários */

#overdiv table, #overdiv table td, .overlib, .overlib_caption {
	border-style:none;
	margin:0;
}

.overlib, .overlib td {
	width: 200px;
	text-indent:10px;
	padding:1px;
	text-align:justify;
	background-color:#ccf;
}

.overlib_caption {
	width:100%;
	border: solid 1px #339;
	background-color:#339;
	font-weight:bold;
	text-align:center;
	text-indent:0;
	padding:0;
	color:#fff;
}

/* Insercao de contatos: */
P.contato {
	margin: 0;
	text-align: left;
	padding: 0 0 2px 20px
}
H2.contato {
	padding-top: 40px;
	margin-left: 0
}
H3.contato {
	margin-bottom: 7px;
	margin-left: 10px;
	padding: 0;
	font-style: italic;
	font-size: 110%;
	color: #000;
	font-weight: normal
}
/* FIM da insercao de contatos: */

#outerMost {
  position: relative;
  min-height: 100%;
}
#greyOutPage {
  position: absolute; /* for IE5-6 */
  z-index: 9000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #666;
  filter:alpha(opacity=80); /* IE5.5+ */
  -moz-opacity:0.8; /* Gecko browsers including Netscape 6+ and Firefox */
  -khtml-opacity: 0.8; /* Safari 1.1-1.3 */
  opacity: 0.8; /* Netscape 7.2+, Firefox, Safari 2+, Opera 9 */
}
/* Hide from IE5/Mac \*/
* html #outerMost {
  height: 100%;
}
* html #greyOutPage {
  left: auto;
  top: auto;
  width: 200%;
  height: 200%;
}
/* End hide */


@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 1200px) {
}

.bootstrap-select .dropdown-menu li a span.text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.bootstrap-select .dropdown-menu {
	width: 100%;
}
.bootstrap-select .no-results {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-wrap {
	white-space: normal;
}

/*#tabela {
	width:100%;
}

#tabela thead, #tabela tbody, #tabela tr, #tabela td, #tabela th { display: block; }

#tabela tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#tabela thead th {
    height: 30px;
}

#tabela tbody {
    height: 300px;
    overflow-y: auto;
}

#tabela tbody td, #tabela thead th {
    width: 19.2%;
    float: left;
}*/

#map {
	width: 100%;
	height: 100%;
}
.leaflet-popup-content p.mensagem_balao_titulo {
	margin: 0 0 5px 0;
	font-weight: bold;
	text-align:center;
}
.leaflet-popup-content p.mensagem_balao_corpo {
	margin: 5px 0;
}
.flex-fill {
	flex: 1;
}
.popup-title {
	margin: 0 0 5px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 110%;
}
.marker-cluster span {
	color: black;
	font-weight: bold;
}
