.tabela_bordas, .tabela_bordas_bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border-top:solid 3px;
	border-bottom:solid 3px;
}
.tabela_bordas_bottom {
	border-top:none;
}
.fundoFixo {
	background-image: url(admin/imagens/barra_nova.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.textoPreto12px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.inputFlatRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: right;
	border: 1px solid #000000;
}
.ver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC3300;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
}
.ajuda {
	font-weight:normal;
	font-style:italic;
	color:#090;
	text-decoration:underline;
	cursor:pointer;
}
.carta_politica {
	height: 280px;
	background-color: #D8D8D8;
	overflow:auto;
	text-align:justify;
	margin:0;
	padding: 15px;
	border: 1px inset;
}
.carta_politica h2, .carta_politica h3 {
	text-align:left;
}
#rodape {
	margin: 60px 0 0 0;
	padding: 0 200px;
	border-top: 1px solid #999;
	text-align:center;
	height:0;
/*	background-color: #fff;*/
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}
.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.twocolumn {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 3em;
	-moz-column-gap: 3em;
	column-gap: 3em;
}
#carousel {
	height: 200px;
	overflow:hidden;
}
.carousel-caption {
    background: rgba(0, 70, 0, 0.6);
		border-radius: 1rem;
		padding-bottom: 10px;
}
.bg-transparent {
	background-color: none;
}
.alert h1 {
	font-size: 1.5rem;
}
@media (min-width: 576px) {
  .twocolumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
	#carousel, #carousel .carousel-item {
		height: 360px;
	}
}
@media (min-width: 768px) {
	#carousel, #carousel .carousel-item {
		height: 200px;
	}
	.alert h1 {
		font-size: 2.5rem;
	}
}
@media (min-width: 992px) {
	#carousel, #carousel .carousel-item {
		height: 450px;
	}
}
@media (min-width: 1200px) {
	#carousel, #carousel .carousel-item {
		height: 500px;
	}
}
.modal-full {
  min-width: 100%;
  margin: 0;
}
.modal-full .modal-content {
  height: 100vh;
}
#imagemodal .modal-content {
  background-color:rgba(0, 0, 0, 0.2);
}

#top-link-block {
  position: fixed;
  bottom: 18px;
  right: 10px;
	opacity: .5;
	z-index: 10000;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0.1rem 0.25rem;
    font-size: 0.6rem;
    line-height: 100%;
    border-radius: 0.3rem;
		margin-top:-0.2rem
}

.bootstrap-select .dropdown-toggle,
.bootstrap-select .dropdown-toggle:active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select.show > .btn-light.dropdown-toggle {
	color: #999;
}
.text-decoration-none,
.text-decoration-none:hover {
	text-decoration: none;
}

#menuGeralAeR .navbar-nav .nav-link {
	border-bottom: 2px solid transparent;
}

#menuGeralAeR .navbar-nav .nav-link:hover,
#menuGeralAeR .navbar-nav .active > .nav-link,
#menuGeralAeR .navbar-nav .nav-link.active {
  border-bottom: 2px solid green;
}
#mostraTabela p.card-title {
	text-transform: uppercase;
}
#conheca dt, #conheca dd {
	cursor: pointer;
}
#conheca dt:hover, #conheca dd:hover {
	background-color: #e8e8e8;
}
.aer-carousel-caption {
	color: black;
}
