.textoPreto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
a.Preto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
a.Preto:hover {
	text-decoration: none;
}
a.Branco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
}
a.Branco:hover {
	text-decoration: none;
}
.textoBranco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.fundoFixo {
	background-image: url(imagens/barra_nova.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.ver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC3300;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
}
