@font-face {
  font-family: 'aer_icons';
  src:  url('fonts/aer_icons.eot?uuvslm');
  src:  url('fonts/aer_icons.eot?uuvslm#iefix') format('embedded-opentype'),
    url('fonts/aer_icons.ttf?uuvslm') format('truetype'),
    url('fonts/aer_icons.woff?uuvslm') format('woff'),
    url('fonts/aer_icons.svg?uuvslm#aer_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="aericon-"], [class*=" aericon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aer_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aericon-experiencias:before {
  content: "\e900";
}
.aericon-instituicoes:before {
  content: "\e901";
}
.aericon-pessoas:before {
  content: "\e902";
}
